body{
    font-style: Arial;
}

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
}