.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 5px;
    justify-content: center;
}

.item{
    border-radius: 5px;
    padding: 10px;
    background: #f2f2f2;
}

.level-1{
    grid-row-end: span 3;
}

.level-2{
    grid-row-end: span 2;
}

.level-3{
    grid-row-end: span 1;
}

.item img{
    cursor: pointer;
    max-width: 100%;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    
}