body{
    font-style: Arial;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    height: 100vh;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
}

.item:nth-of-type(1){
    background: lightgreen;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item:nth-of-type(8){
    grid-column: 1 / -1;
}
.item:nth-of-type(7){
    grid-column: 1 / span 2;
}