body{
    font-style: Arial;
}

.container{
    display: grid;
    grid-template-columns: [inicio] 1fr [row2] 1fr [row3] 1fr [destacado-end] 1fr [row5] 1fr [destacado-end2] 1fr [row7] 1fr [final];
    grid-template-rows: [comienzo] 200px [trayecto] 200px [finalizacion];
    height: 100vh;
    gap: 5px;
    /* grid-auto-flow: column ; */
    /* grid-auto-columns: 100px; */
    grid-auto-rows: 50px 100px;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
}

.item:nth-of-type(1){
    grid-column: inicio / destacado-end;
    grid-row: comienzo / finalizacion;
}

.item:nth-of-type(2){
    grid-column: destacado-end / destacado-end2;
    grid-row: comienzo / finalizacion;
}

.item:nth-of-type(3){
    grid-column: destacado-end2 / final;
}