body{
    font-style: Arial;
}

.container{
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-rows: 300px 300px ; */
    grid-template: 100px 100px 100px / 25% 200px 100px ;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
}

.item:nth-of-type(4){
    background: blue;
    overflow: auto;
    /* display: subgrid; */
    /* display: inline-grid; */
    display: grid;
    grid-template: 100px 100px 100px / 50px 50px 50px  ;
}