body{
    font-style: Arial;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 100px);
    height: 100vh;
    gap: 5px;
    justify-content: center;
    align-content: center;
    /* justify-items: center;
    align-items: center; */
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
}
