body{
    font-style: Arial;
}

.container{
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-rows: 300px 300px ; */
    /* grid-template: 300px 100px 100px / repeat(4, 1fr); */
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px,1fr)); */
    grid-template: 300px 100px 100px / minmax(200px, 1fr) 1fr 1fr 1fr;

    gap: 10px 10px;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
    /* margin-right: 10px;
    margin-bottom: 10px; */
}

.item:nth-of-type(4){
    background: lightgreen;
    overflow: auto;
    /* display: subgrid; */
    /* display: inline-grid; */
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px  ;
}

.item .item {
    background: lightgoldenrodyellow;
  }