body{
    font-style: Arial;
}

.container{
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-rows: 300px 300px ; */
    grid-template: 100px 100px 100px / 25% 200px 100px ;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
}