body{
    font-style: Arial;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid lightcoral;
}

.item:nth-of-type(5){
    align-self: start;
    justify-self: start;
}